.container.container--cardapio {
  flex-direction: column;

  justify-content: flex-start;
  padding: 4rem 0;
  height: auto;
}

.cardapio__categories {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardapio__categories ul {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
  padding: 2rem;
  flex-wrap: nowrap;
}

@media (min-width: 801px) {
  .cardapio__categories ul {
    flex-wrap: wrap;
    overflow-x: visible;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    overflow-y: visible;
  }
}

.cardapio__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
  width: 100%;
  max-width: 1100px;
  padding: 2rem 0;
  gap: 2.4rem;
  justify-content: center;
  margin: 0 auto;
  transition: 250ms;
  overflow: hidden;
}

.box {
  transition: 900ms;
}

.box.animar {
  animation: slide ease 900ms forwards;
}

/* hover effects */
.cardapio__item:hover {
  background-color: var(--color-primary);
}

.cardapio__item:hover .add-to-cart {
  opacity: 1;
  visibility: visible;
  color: white;
}

/* .cardapio__item:hover .cardapio__item__content h3 {
  display: none;
} */

.cardapio__item:hover .cardapio__item__content span {
  color: var(--color-black);
}

.cardapio__item:hover .cardapio__item__content .add-to-cart .btn-add-box .btn-add a {
  color: var(--color-white) !important;
}

.cardapio__item:hover .cardapio__item__content .cardapio__item__content__text .obs {
  background-color: rgba(255, 193, 7, 0.15);
  color: #666;
}

.cardapio__item {
  padding: 1.6rem;

  border-radius: 11px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  transition: background-color 0.2s ease;

  gap: 8px;

  background-color: var(--color-white);
}

.cardapio__item__image {
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  max-height: 200px;
}

.cardapio__item__image img {
  border-radius: 11px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardapio__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  flex: 1;
}

.cardapio__item__content__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardapio__item__content .cardapio__item__content__text h3 {
  /* margin-bottom: 1rem; */
  overflow: hidden;
  min-height: 25px;
  max-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  text-align: center;
  word-wrap: break-word;

  font-size: clamp(1.8rem, 1rem + 1vw, 2.2rem);
  font-family: "poppinsbold", sans-serif;
  color: var(--color-black);
}

.cardapio__item__content .cardapio__item__content__text span {
  font-size: clamp(2.4rem, 1rem + 1vw, 2.8rem);
  font-family: "poppinsmedium", sans-serif;
  color: var(--color-primary);
  /* margin-bottom: 1rem; */
}

.cardapio__item__content .cardapio__item__content__text p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  padding: 0 4px;
}

.cardapio__item__content .cardapio__item__content__text .kcal-peso {
  font-size: 12px;
  color: #666;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.cardapio__item__content .cardapio__item__content__text .obs {
  font-size: 12px;
  background-color: lightYellow;
  padding: 6px 8px;
  border-radius: 8px;
  color: #333;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

/* add to cart */

.add-to-cart {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 35px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  border-radius: 15px;
  width: 200px;
}

.add-to-cart .add-to-cart__buttons {
  display: flex;
  justify-content: center;

  height: 100%;
  align-items: center;
}

.add-to-cart .add-to-cart__buttons span {
  font-size: 14px;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart__buttons span.add-numero-items {
  padding-top: 2px;
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  width: 4rem;
  font-weight: bold;
}

.add-to-cart__buttons span.add-menos,
.add-to-cart__buttons span.add-mais {
  padding: 2px 7px;
  cursor: pointer;
}

.add-to-cart__buttons span.add-mais {
  border: 2px solid var(--color-black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.add-to-cart__buttons span.add-menos {
  border: 2px solid var(--color-black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-add-box {
  height: 100%;
}

.btn-add-box .btn-add a {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--color-black);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--color-white) !important;
  cursor: pointer;
}

.badge-total-carrinho {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: var(--color-secudary);
  border-radius: 50px;
  right: -5px;
  top: -5px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-carrinho {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color-black-heavy) !important;
  border-radius: 50px;
  cursor: pointer;
  z-index: 5;
}

.bagde-botao-superior {
  right: 10px;
  top: 5px;
}

/* .add-to-cart span {
  font-size: 14px;
  padding: 0.4rem;
} */

/* .add-to-cart .btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: tomato;
} */

@media (min-width: 964px) {
  .cardapio__categories ul {
    justify-content: center;
  }
}
