.resumo-pedido {
  min-height: 200px;
  width: 100%;
  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.resumo-endereco {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: flex-start;
  padding-top: 1.2rem;
}

.resumo-endereco__dados {
  display: flex;
  align-items: center;
  height: max-content;
  padding: 0.8rem;
  background-color: rgb(241, 241, 241);
  border-radius: 0.2rem;
  gap: 1rem;
}

.resumo-endereco__dados i {
  font-size: 3.4rem;
  background-color: var(--color-primary);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  color: var(--color-black);
}

.resumo-endereco__dados .dados {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.dados p span {
  font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
}

.dados p:first-child {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-black);
}

.dados p {
  display: flex;
  gap: 0.4rem;
}

@media (max-width: 400px) {
  .resumo-endereco {
    width: 100%;
  }
  /* .dados p {
    flex-direction: column;
  } */
}
