/* add to cart */

.add-to-cart {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 35px;
  /* opacity: 0; */
  /* visibility: hidden; */
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  border-radius: 15px;
  width: 200px;
}

.add-to-cart .add-to-cart__buttons {
  display: flex;
  justify-content: center;

  height: 100%;
  align-items: center;
}

.add-to-cart .add-to-cart__buttons span {
  font-size: 14px;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart__buttons span.add-numero-items {
  padding-top: 2px;
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  width: 4rem;
  font-weight: bold;
}

.add-to-cart__buttons span.add-menos,
.add-to-cart__buttons span.add-mais {
  padding: 2px 7px;
  cursor: pointer;
}

.add-to-cart__buttons span.add-mais {
  border: 2px solid var(--color-black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.add-to-cart__buttons span.add-menos {
  border: 2px solid var(--color-black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-add-box {
  height: 100%;
}

.btn-add-box .btn-add {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--color-black);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--color-white) !important;
  cursor: pointer;
}

.add-to-cart.add-to-cart-modal {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.add-to-cart.add-to-cart-modal .btn-add {
  background-color: #e74c3c;
}

@media (max-width: 466px) {
  .add-to-cart.add-to-cart-modal {
    gap: 1.4rem;
    justify-content: flex-end;
  }
}
