.modal-carrinho {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-white);
  z-index: 999;
  animation: modal 0.3s ease-in-out;
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container.container--modal {
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
}

.modal-carrinho.hidden {
  display: none;
}

.etapas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.etapas-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;

  padding: 1rem 0;
}

.etapas-numeros {
  display: flex;

  position: relative;

  width: max-content;
  justify-content: space-between;
  align-items: center;
  width: 16.8rem;
  position: relative;
}

.etapa {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  transition: 250ms ease-in-out;
  border: 1px solid transparent;
}

.etapa.checked {
  background-color: var(--color-primary);
}

.etapa1.checked,
.etapa2.checked,
.etapa3.checked {
  background-color: var(--color-primary);
  border: 1px solid rgba(5, 5, 5, 0.466);
}

.line {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(240, 32, 32);
  border-radius: initial;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left;
  z-index: -1;
  transition: 350ms;
}

.line1 {
  left: 36px;
}

.line2 {
  left: 102px;
}

.line1.checked,
.line2.checked {
  width: 30px;
  background-color: var(--color-primary);
}

.titulo-carrinho {
  padding: initial;
  font-size: 1.8rem;
  font-family: "poppinsregular";
  color: var(--color-black);
}

.btn-primary.btn-primary--fechar {
  height: 35px;
}

.btn-primary.btn-primary--fechar a {
  font-size: 18px;
}

.modal-carrinho img {
  width: 100px;
}

.produtos-container {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  justify-content: flex-start;
  width: 100%;
  animation: modal 0.3s ease-in-out;
}

.produto {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  border-bottom: 1px solid lightgrey;
}

.produto-image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.produto-image img {
  border-radius: 8px;
}

.produto-preco {
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  gap: 1.4rem;
}

.produto-preco h3 {
  font-size: 2rem;
  font-family: "poppinsmedium";
  color: rgb(68, 68, 68);

  font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
}

.produto-preco span {
  font-size: 2.4rem;
  font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
  color: var(--color-primary);
  font-family: "poppinsbold", sans-serif;
}

.add-to-cart.add-to-cart-modal {
  display: flex;
  justify-content: flex-end;
}

.add-to-cart.add-to-cart-modal .btn-add a {
  background-color: #e74c3c;
}

.total {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}

.total-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.valor-subtotal span {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text);
}

.valor-entrega span {
  color: var(--color-separate);
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.valor-total {
  margin: 1rem 0;
  font-weight: bold;
}

.valor-total span:first-child {
  color: var(--color-black);
  font-size: 2rem;
  margin-right: 1rem;
}

.valor-total span + span {
  color: var(--color-primary);
  font-size: 2.4rem;
  letter-spacing: 1px;
}

/* .subtotal span:first-child {
  font-size: 1.6rem;
  font-family: "poppinsregular";
  color: var(--color-text);
  margin-bottom: 0.5rem;
} */

.subtotal i {
  margin-right: 5px;
}

.subtotal .entrega {
  font-size: 1.6rem;
  font-family: "poppinsregular";
  color: lightslategray;
}
/* 
.total-infos .total-preco span {
  font-size: 2rem;
  color: var(--color-black);
  font-family: "poppinsbold", sans-serif;
  margin-right: 1rem;
}

.total-infos .total-preco {
  font-size: 2.4rem;
  font-family: "poppinsbold";
  color: var(--color-primary);
  margin-bottom: 0.4rem;
} */

.total-botao {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.btn-primary.btn-primary--yellow.button-total a {
  padding: 1rem 2.4rem;
}

.local-entrega {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal 0.3s ease-in-out;
}

.control-form {
  display: flex;
  align-items: center;
  height: auto;
  height: auto;
}

.grid-form {
  display: grid;
  grid-template-columns: 6fr 4fr 2fr;

  gap: 2rem;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 2rem 0.8rem;
}

.grid-form input,
.grid-form #uf {
  display: block;
}

.cep {
  grid-column: 1/-1;
}

.cep-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.cep-container a {
  cursor: pointer;
}

.cep input {
  max-width: 300px !important;
}

.control-form input,
.control-form select {
  display: block;
  margin-top: 0.8rem;
  padding: 1.4rem;
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.control-form label {
  width: 100%;
}

.control-form input {
  width: 94%;
}

.control-form select {
  width: 94%;
  text-align: center;
}

.carrinho-vazio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.carrinho-vazio i {
  width: 50px;
  height: 50px;
  background-color: var(--color-secudary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
/* Queries */

@media (max-width: 600px) {
  .grid-form {
    grid-template-columns: 1fr;
  }
  .local-entrega.scrollContainer {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 466px) {
  .container.container--modal {
    display: flex;
    padding: initial;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
  }

  .etapas {
    padding: initial;
  }

  .etapas-numeros {
    width: 13.4rem;
  }

  .etapa {
    width: 26px;
    height: 26px;
  }

  .line.checked {
    width: 3.2rem;
    height: 2px;
  }

  .line1 {
    left: 26px;
  }
  .line2 {
    left: 78px;
  }

  .titulo-carrinho {
    padding: initial;
  }
  .produtos-container {
    height: 100%;
    padding: 1rem 0;
  }
  .produto {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  .produto-image {
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
  }

  .produto-image img {
    width: 80px;
  }

  .produto-preco h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    font-size: clamp(1.8rem, 1rem + 1vw, 2.2rem);
  }
  .produto-preco {
    gap: 0.4rem;
  }

  .add-to-cart.add-to-cart-modal {
    gap: 1.4rem;
    justify-content: flex-end;
  }

  .total-infos {
    gap: 1rem;
  }
  .total-infos .total-preco {
    margin: 0;
  }
}
